*
# Self
!.gitignore
# Codes
!*.h
!*.cpp
!*.c
# Shaders
!*.vert
!*.frag
!*.geom
!*.vs
!*.fs
# Models
!*.obj
!*.mtl
!*.3ds
# Textures
!*.jpeg
!*.jpg
!*.png
!*.bmp
!*.hdr
# README
!*.md
# Folders
!cloud/
!flare/
!screenshots
!shaders
!shaders/sky
!shaders/lens flare
!textures/
!textures/skybox
!models/
!models/f16/
!Terrain
