*
# Self
!.gitignore
# Codes
!*.h
!*.cpp
# Shaders
!*.vert
!*.frag
!*.vs
!*.fs
# Models
!*.obj
!*.mtl
!*.3ds
# Textures
!*.jpeg
!*.jpg
!*.png
# README
!*.md
# Folders
!cloud/
!screenshots
!shaders/
!textures/


